# App
NODE_ENV= production
BASE_URL= http://localhost:3000
PORT= 3000

# Docker
DOCKER_USERNAME=softvence
PACKAGE_NAME=nestjs_starter
PACKAGE_VERSION=latest

# Turn server
TURN_USERS=webrtcuser:webrtcuser
EXTERNAL_IP=10.10.10.52

# Database
MONGODB_URI= mongodb://root:root@mongodb:27017/nestjs_starter_db?authSource=admin

# Mongo root credentials
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root

# Mongo-Express auth
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASS=admin

# Redis
REDIS_HOST= localhost
REDIS_PORT= 22376

# JWT
JWT_SECRET=secret
JWT_EXPIRES_IN=90d

# SMTP
MAIL_USER=test
MAIL_PASS=test

# Seed Admin
SUPER_ADMIN_EMAIL=test
SUPER_ADMIN_PASS=test